/* Déclaration des variables CSS */
:root {
  --font-family: system-ui, sans-serif;

  --color-background: #ffffff;
  --color-surface: #f0f0f0;
  --color-surface-variant: #dedede;
  --color-outline: #d5d5d5;
  --color-on-surface: #1b1b1b;
  --color-on-surface-variant: #000000;
  --color-on-surface-light: #5e5e5e;
  --color-primary: #2c6bed;
  --color-on-primary: #ffffff;
  --color-primary-light: #a3bff9;
  --color-on-primary-light: #1b1b1b;
  --color-primary-variant: #0552f0;
  --color-on-primary-variant: #ffffff;
  --color-error: #ff0000;
  --color-on-error: #ffffff;
}
